.chess-container {
    aspect-ratio: 1/1;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.chess-square {
    border: 1px solid red;
    aspect-ratio: 1/1;
    width: calc(100% / 7);
}