.chess-container {
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.chess-square {
    aspect-ratio: 1/1;
    width: calc(100% / 7);
}
